@model RegistrarConsultaViewModel

<h2>Registrar Nueva Consulta</h2>

<form asp-action="RegistrarConsulta" method="post">
    <div>
        <label>Motivo</label>
        <input asp-for="Consulta.Motivo" class="form-control" />
    </div>

    <div>
        <label>Diagnóstico</label>
        <input asp-for="Consulta.Diagnostico" class="form-control" />
    </div>

    <div>
        <label>Tratamiento</label>
        <input asp-for="Consulta.Tratamiento" class="form-control" />
    </div>

    <div>
        <label>Observaciones</label>
        <textarea asp-for="Consulta.Observaciones" class="form-control"></textarea>
    </div>

    <!-- <div>
        <label>Estado</label>
        <select asp-for="Consulta.Estado" class="form-control">
            <option value="Pendiente">Pendiente</option>
            <option value="Completada">Completada</option>
        </select>
    </div>-->


    <!-- <div>
        <label>Doctor</label>
        <select asp-for="Consulta.IdDoctor" asp-items="Model.Doctores" class="form-control"></select>
    </div>-->

    <div>
        <label>Paciente</label>
        <select asp-for="Consulta.IdPaciente" asp-items="Model.Pacientes" class="form-control"> </select> 
    </div>

    <!-- Campos de Pago -->

    <div>
        <label>Monto</label>
        <input asp-for="Pago.Monto" class="form-control" />
    </div>

    <div>
        <label>Método de Pago</label>
        <select asp-for="Pago.MetodoPago" class="form-control">
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Transferencia">Transferencia</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary mt-3">Registrar</button>
</form>