@model DoctorConsultas

@{
    ViewData["Title"] = "Consultas del Doctor";
}

<h2>Consultas del Doctor</h2>

<form asp-action="VerConsultas" method="get">
    <input type="hidden" name="idDoctor" value="2" /> 

    <div class="mb-3">
        <label for="IdPacienteSeleccionado" class="form-label">Selecciona un paciente:</label>
        <select name="idPaciente" asp-items="Model.Pacientes" class="form-select">
        <option value="">-- Selecciona --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Ver Consultas</button>
</form>

@if (Model.Consultas != null && Model.Consultas.Any())
{
    
    <h4 class="mt-4">Consultas del paciente seleccionado:</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Diagnóstico</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.Consultas)
            {
                <tr>
                    <td>@c.FechaConsulta.ToShortDateString()</td>
                    <td>@c.Motivo</td>
                    <td>@c.Diagnostico</td>
                </tr>
            }
        </tbody>
    </table>
}
